// colors

$colorblue: blue;
$colorred: red;
$colorsky: deepskyblue;
$colorblack: black;
$colorlavend: lavender;


// fonts

$font01: 'Otomanopee One', sans-serif;
$font02: 'Varela Round', sans-serif;